<div class="schedule_body">
<div class="schedule_content">
<span class="schedule_link">
<% if @user_count < 2 %>
<div>スケジュール作成は3人以上のメンバーが必要です。</div>
<% else %>
<% if @groupschedules.present? %>
<%= link_to '予定作成をやり直す', new_room_user_groupschedule_path(@room, @user), onclick: "return confirm('現在のメンバーの予定も削除されます。続行しますか？');" %><% else %>
<%= link_to '予定作成を開始する', new_room_user_groupschedule_path(@room, @user) %>
<% end %>
<% end %><span>
</div>

<% if @groupschedules.present? %>
<div class="schedule_content">
<span class="schedule_link">
<%= link_to "作成した予定にゲームを登録する", edit_room_user_groupschedule_path(@room, @user, @room) %></br>
</div>
<% else %>
	<span>
<% end %>

</div>
<div class="rules">
<div class="make_rules">
<div>予定作成機能について</div></br>
<div>・最大5人グループまでの組み合わせを表示します</div>
<div>・グループの中には必ずゲーム登録者が含まれます</div>
<div>・タイマン希望のユーザーに対してはタイマン以外のグループには表示されません</div>
<div>・日中、20時〜、21時〜、22時〜 各時間帯について3つまでグループを設定できます</div>
<div>・何も選択しない場合は休みとして自動入力されます</div>
<div>・グループ作成後、ゲームの登録ができます</div>
<div>・ゲームの登録はすべてのゲームから選択できます</div>


<br><br><div>※エラー文について</div><br>
<div class="for_error">
    <div class="error_sentence">
				 <b>・メンバーが足りない</b><br>
				 <b>・作成できるグループの組み合わせがありません</b><br>
				 <b>・このグループでできるゲームがありません</b><br>
		</div>
		<div class="error_contents">
				→グループ作成に必要な人数が足りない場合に表示されます<br>
    		→その時間帯にはゲームを登録しているメンバーがいない場合に表示されます<br>
    		→ゲーム登録者がいるがそのメンバーで初めて遊ぶゲームがない場合に表示されます<br>
		</div>
</div>
</div>